.cards-movie-container-custom {
  justify-content: space-between;
  padding-inline: 6em;
}

.add-btn-container {
  margin: 1em 6em;
  text-align: center;
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-body h5 {
  font-weight: bold;
}

.card-title-and-rating-container {
  display: flex;
  align-items: baseline;
  p {
    margin-left: .5em;
  }
}

.container-custom {
  display: flex;
  flex-direction: column;
}

.container-custom-2 {
  display: flex;
  flex-direction: column;
  padding-inline: 6em;
}

.animation-warning-background {
  animation: bg-change 3s ease 100ms;
}

@keyframes bg-change {
  0% { background-color: #F4F4F4; }
  30% { background-color: #d0aeaeed; }
  80%,
  100% { background-color: #F4F4F4; }
}
